/**
 * Bluevis, for Drupal 6.x
 * Hakan Ataman, hataman [dot] com
 *
 */
body{margin:0;padding:0;background:#fff url("img/bluevis_body.png") repeat-x;font-family:'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;font-size:12px;line-height:18px;}
h1, h2, h3, h4, ol{margin:0;}img{border:none;}a{text-decoration:none;outline:none;}li{list-style-type:none;}.temz{clear:both;}a{color:#0094CF;}
.left{float:left;}
#bluevis{margin:0 auto;width:1000px;}
#header{height:83px;width:1000px;}
#sites{height:82px;}
.ana_linkler{width:990px;float:left;height:20px;line-height:20px;margin:0 10px 0 0;padding:0;}.ana_linkler li{float:right;}.ana_linkler li a{padding:5px 15px 2px 15px;color:#fff;-webkit-border-top-left-radius: 2px;-webkit-border-top-right-radius: 2px;-moz-border-radius-topleft: 2px;-moz-border-radius-topright: 2px;border-top-left-radius: 2px;border-top-right-radius: 2px;}
.ana_linkler li a:hover{background:#fff;color:#0586bd;-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;}
.secondary_linkler{width:990px;margin:0 10px 0 0;float:left;height:30px;line-height:25px;padding:0;}.secondary_linkler li{float:right;}.secondary_linkler li a{padding:5px 15px;color:#000;-webkit-border-bottom-left-radius: 2px;-webkit-border-bottom-right-radius: 2px;-moz-border-radius-bottomleft: 2px;-moz-border-radius-bottomright: 2px;border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;}
.secondary_linkler li a:hover{background:#1EA9E4;color:#fff;-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;}
#logo{margin:5px 0 0 0;display:block;}.sitename{font-weight:bold;margin-top:35px;color:#fff;font-size:40px;margin-left:5px;display:block;letter-spacing:-1px;}.site-slogan{color:#fff;font-size:30px;margin-left:10px;display:block;margin-top:27px;font-style:italic;font-weight:bold;letter-spacing:-1px;}
#main{width:1000px;float:left;background:#fff;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.main_top{width:1000px;height:12px;background:url("img/main_top.png") no-repeat;}
.main_main{width:980px;padding:10px;background:#fff;}
.main_bottom{width:1000px;height:12px;background:url("img/main_bottom.png") no-repeat;}
.cont{}
.bluevis-page{border: 1px solid #EFEFEF;padding: 5px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;margin-bottom:10px;}
#left{width:200px;margin:10px 0;}
#right{width:768px;margin:10px 0  10px 10px; }
#footer{width:980px;}
/*bloks*/
.bloks{ border: 1px solid #EFEFEF;padding: 5px;margin: 0 0 10px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.bloks ul{padding:3px;}
/*search*/
#arama .container-inline{margin-top:20px;float:right;height:25px;width:260px;}
#arama .form-item{margin:0;padding:0;}
.hataman_search{background:url(img/search_bg.png) no-repeat;width:187px;height:24px;border:none;padding:0 3px;color:#b6b4b4;}
#hataman_search{border:none;background:none;cursor:pointer;font-weight:bold;color:#fff;padding:0;}

/*form*/
.form-submit{background:#079FE1; border:none;color: #FFFFFF; padding:1px 2px;margin: 5px 3px 0;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;cursor:pointer;}
.bloks .form-text{-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;border:none;padding:5px 3px;font-size:11px;margin-top:1px;border:1px solid #ccc;width:80%;}
.form-item input.error, .form-item textarea.error, .form-item select.error{border:1px solid #fc051c;}
.links .node_read_more, #primary .view-og-ghp-ron .node .links .node_read_more{ background: url("img/readmore.gif") no-repeat ;}
.links .node_read_more{padding: 1px 0 0 23px;}
.bloks ul.menu li, .bloks .item-list ul li, .bloks li.leaf{background: url("img/leaf.png") no-repeat scroll 3px 0.6em;list-style-type: none;list-style-image: none;padding: 0.15em 0 0.15em 1.5em;text-align:left;}
.bloks ul.menu li.collapsed{background:url("img/collapsed.png") no-repeat scroll 3px 0.6em;}
.bloks ul.menu li.expanded{background:url("img/expanded.png") no-repeat scroll 3px 0.6em;}

.bloks .bloks h2{ color: #0574A4;border-bottom: 1px solid #ECECEC;padding:3px;}
#left .form-item{margin:0;padding:0;}
#user-login-form .form-item{margin:10px 0;}
/*node*/
.etik{margin:10px 0;border-top:1px solid #0094CF;}

.bread{margin:10px 0;}
.icerikbaslik{padding:3px 3px 10px 5px;}
.habu{margin:7px 0;padding:3px;}
.conte img{margin:10px;}
.conte ul{clear:both;}
.conte li{background:url("img/collapsed.png") no-repeat scroll 3px 0.6em;list-style-type:none;padding-left:13px;}
